{% extends "base_1col.html" %}
{% load i18n %}
    {%block extracss%}
		<link rel="stylesheet" href="/site_media/css/bpm.css" type="text/css" />
    {% endblock %}
{%block javascript%}
{% endblock %}
{%block title%}{% trans "Measurements" %}{%endblock%}
{%block content%}

<div class="content-box" style="width:940px;margin:0 auto">
<iframe name="bmi-meter" width="990" style="margin-left:70px" height="300" id="iframe-bmi" scrolling="no" frameborder="0" src="/body_info/bmi_meter/?bmi={{bmi}}"></iframe>
</div>
{% endblock content %}

