<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Adimsayar Üyeliği</title>
</head>
<body>
<h3>Merhaba</h3>
<h3>Geçici üyelik bilgileriniz aşağıdaki gibidir. <br>Dilediğiniz zaman sitemiz<a href="http://{{ DOMAIN_NAME }}/?ref=new_email" target="_blank">{{ DOMAIN_NAME }}</a> üzerinden değiştirebilirsiniz.</h3>
<b>Kullanıcı Adınız:</b>{{user.username}}<br>
<b>Şifre:</b>{{random_pass}}<br>
<h3><br>Adımsayar Ekibi</h3>
</body>
</html>