<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Adimsayar Üyeliği</title>
</head>
<body>
<h3>Merhaba</h3>
<h3>Adımsayar'a hoşgeldiniz.<br><a href="http://apps.facebook.com/adimsayar/?ref=new_fb" target="_blank">Facebook uygulamamızı</a> kullanarak güncel ölçümlerinize ulaşabilirsiniz.<br>
Bu platformda kullanıcı onayı olmadan hiç bir bilgi facebook üzerinden paylaşılmaz.<br><br>
Ölçümlerinizi görmek için <a href="http://apps.facebook.com/adimsayar" target="_blank">buraya tıklayın</a><br>
<br>
Saygılarımızla<br>
Adımsayar Ekibi
</h3>

</body>
</html>