{% extends "base_1col.html" %}
{% load i18n %}
{% block title %}Adımsayar{%endblock%}
{% block content %}
<div style="margin-left:20px">
<form action="" method="post">
    {% csrf_token %}
    Lutfen bir rumuz belirleyin:<br><br>
    <p>
        <label for="id_username">Rumuz:</label>
        <input type="text" name="username" id="id_username" value="" />
	{% if err_msg %}
	<br><br><div style="color:red;">Hata: {{ err_msg }}</div><br>
	{% endif %}
    </p>

    <input type="submit" value="Kaydet" />
</form>
</div>
{% endblock %}
