{% extends "base_1col.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% block title %}Adımsayar{%endblock%}
{% block content %}
<div id="text-ct" >

{{ content.text|safe}}

</div>
<div>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-3160155742064565";
/* adimsayar-leaderboard-homepage */
google_ad_slot = "8770604046";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>


<div style="clear:both"></div>
{% endblock %}
