<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Haftalık Rapor</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#f6f3e4" style="background-color:#f6f3e4;"><br>
    <br>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" valign="top" style="padding-left:13px; padding-right:13px; background-color:#ffffff;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="84" border="0" cellspacing="0" cellpadding="0">

              <tr>
                <td height="80" align="center" valign="middle" bgcolor="#d80000" style="font-family:Arial, Helvetica, sans-serif; color:#ffffff;"><div style="font-size:15px;"><img src="http://www.adimsayar.com/site_media/images/logo72_adimsayar.png" width="84" style="display:block;"><!--<b>Issue</b>--></td>
              </tr>

            </table></td>
          </tr>
          <tr>
            <td align="center" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:48px;"><i>Haftalık Rapor</i></td>
          </tr>
          <tr>
            <td align="center" valign="middle" style="padding-top:7px;"><table width="240" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="31" align="center" valign="middle" bgcolor="#e23300" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:19px; color:#ffffff;">{{email}}</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" valign="middle" style="padding-bottom:15px; padding-top:15px;"><img src="http://www.adimsayar.com/site_media/images/divider.gif" width="573" height="28" style="display:block;"></td>
          </tr>

          <tr>
            <td align="center" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:24px; padding-bottom:5px;"><i>Verimli uyku için 10 ipucu             
              </i>
            <tr>
            <td align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:15px;">Düzenli uyku ile günlük hareketliliğiniz birbirine çok bağlıdır. Uyku kalitenizi nasıl artırırsınız? Düzensiz ve az uyumak neden zararlıdır?  <br><br>Dyt. Nurcan Bıçakcı hazırladı. Okumak için <a href="http://www.adimsayar.com/get_content_page/?name=sleep_obesity" target="_blank">buraya tıklayın</a>

          <tr>
            <td align="center" valign="middle" style="padding-bottom:15px; padding-top:15px;"><img src="http://www.adimsayar.com/site_media/images/divider.gif" width="573" height="28" style="display:block;"></td>
          </tr>

          <tr>
            <td align="center" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:24px; padding-bottom:5px;"><i>Yürüyüş bilgileri</i>
            <tr>
          	  <td align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:15px;"><img src="https://chart.googleapis.com/chart?cht=bvs&chco=4D89F9&chxt=x,y&chxr=1,0,10000&chs=250x250&chd=t:{% for step in step_list%}{{step}},{% endfor %}0&chl=Pzt|Sal|Crs|Prs|Cum|Cts|Paz" alt="resim goruntulenmedi" width="240" height="200" style="float:left; display:block;"><br>Geçen haftaki yürüyüş miktarınız yandaki grafikte gösterilmiştir. Geçtiğimiz hafta günlük ortalama <span style="color:blue;">{{daily_average_steps}}</span> adım yürüdünüz.Bu yürüyüşler için harcadığınız enerji ortalama günlük <span style="color:blue;">{{daily_average_calories|floatformat}}</span> kaloridir. <br><br>7000 kcal fazladan harcamak sağlıklı şekilde 1 kg vermenizi sağlar. <br><br>Aylık ve Günlük adım grafikleriniz için <a href="http://www.adimsayar.com/meas/?target=steps" target="_blank">buraya tıklayın</a></td>
			</tr>
		  </tr>
          <tr>
            <td align="center" valign="middle" style="padding-bottom:15px; padding-top:15px;"><img src="http://www.adimsayar.com/site_media/images/divider.gif" width="573" height="28" style="display:block;"></td>
          </tr>

          <tr>
            <td align="center" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:24px; padding-bottom:5px;"><i>Sosyal medyadayız            <br>
<a href="http://www.facebook.com/adimsayar" target="_blank"><img src="http://www.adimsayar.com/site_media/images/facebook.png" width="40" height="40"></a>
<a href="http://www.twitter.com/adimsayar/" target="_blank"><img src="http://www.adimsayar.com/site_media/images/tweet.png" width="40" height="40"></a>
              </i>
            <tr>
            <td align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:15px;">Amacımız sizi aktif yaşam için motive etmek. Facebook'tan <a href="http://www.facebook.com/adimsayar" target="_blank">sayfamızı beğenerek</a>, (yada <a href="http://www.twitter.com/adimsayar/" target="_blank">Twitter'dan</a>) hergün yayınladığımız ipuçlarını izleyebilirsiniz. Yine bu kanallardan bize ulaşabilirsiniz.
          <tr>
            <td align="center" valign="middle" style="padding-bottom:15px; padding-top:15px;"><a href="http://www.facebook.com/adimsayar" target="_blank"><img src="http://www.adimsayar.com/site_media/images/fbpost.png" style="display:block;"></a> <br><span style="font-family:Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:15px;"><br>Not: Yayınlananları sadece siz görebilirsiniz arkadaş listeniz değil.</span></td>
          </tr>
          <tr>
            <td align="center" valign="middle" style="padding-bottom:15px; padding-top:15px;"><img src="http://www.adimsayar.com/site_media/images/divider.gif" width="573" height="28" style="display:block;"></td>
          </tr>

          <tr>
            <td align="left" valign="middle" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:12px; color:#000000;">
            <div style="color:#b30467; font-size:15px;"><b>Bize Ulaşın</b></div>
             <div><br>
Bu e-posta Adımsayar uygulaması tarafından otomatik olarak oluşturulmuştur. Haftada bir gönderilir.<br>
Bu e-postayı almak istemiyorsanız <a href="http://www.adimsayar.com/profile/send_mail/?email={{email}}&key=29345434">buraya tıklayın</a><br>
Eğer uygulamayı kullanmayı bıraktıysanız, bilgilerinizi silmek ve hesabınızı kapatmak için <a href="http://www.adimsayar.com/profile/user_delete/?email={{email}}&key=29345434">buraya tıklayın.</a><br>
Herzaman daha iyisini yapmaya çalışıyoruz, istek ve önerileriniz için <a href="http://www.adimsayar.com/contact/">iletişim formunu</a> kullanabilirsiniz<br>
<b>Şifrenizi unuttuysanız</b> yeni bir şifre için <a href="http://www.adimsayar.com/mining_platform/reset_password_email/?email={{email}}&key=5565233909">buraya tıklayın.</a><br>
               <br>
             </div>
              <div>
                <table width="80" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="40" align="left" valign="middle"><a href="http://www.facebook.com/adimsayar" target="_blank"><img src="http://www.adimsayar.com/site_media/images/facebook.png" width="24" height="24"></a></td>
                    <td width="40" align="left" valign="middle"><a href="http://www.twitter.com/adimsayar/" target="_blank"><img src="http://www.adimsayar.com/site_media/images/tweet.png" width="24" height="24"></a></td>
                  </tr>
                </table>
              </div>
</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
  </tr>
</table>
</div>
</body>
</html>
