<!DOCTYPE html>
<html manifest="cache.manifest">
  <head>
  <title>My Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<script src="{{subdomain}}/site_media/jqmobile/jquery-1.7.1.min.js"></script>
	<script src="{{subdomain}}/site_media/mobindex/js/jquery.localize.js" type="text/javascript"></script>
	<script src="{{subdomain}}/site_media/mobindex/js/main.js" type="text/javascript"></script>
	<link rel="stylesheet" href="{{subdomain}}/site_media/jqmobile/jquery.mobile-1.1.0.min.css" />
	<script src="{{subdomain}}/site_media/jqmobile/jquery.mobile-1.1.0.min.js"></script>
	<link href="{{subdomain}}/site_media/mobindex/css/style.css" rel="stylesheet" />
	<script src="{{subdomain}}/site_media/mobindex/js/sim.js" type="text/javascript"></script>

<script type="text/javascript">

</script>

</head>
<body>
<div data-role="page" id="diet-page">
    <div data-role="header" data-id="header-0" data-position="fixed">
    <h1>My Title</h1>
    </div><!-- /header -->
    <div data-role="content">
	<ul data-role="listview" id="diet-list">
	</ul>

    </div><!-- /content -->
    <div data-role="footer" data-id="footer-0" data-position="fixed">
        <div data-role="navbar">
        <ul>
            <li><a href="index.html" data-icon="star" >Main</a></li>
            <li><a href="ranking.html" data-icon="grid" >Ranking</a></li>
            <li><a href="checkin.html" data-icon="gear" >Checkin</a></li>
            <li><a href="diet.html" data-icon="gear" class="ui-btn-active">Diet</a></li>
            <li><a href="settings.html" data-icon="gear">Settings</a></li>
        </ul>
    </div><!-- /navbar -->
    </div><!-- /footer -->
</div><!-- /page -->
</body>
</html>
