<!DOCTYPE html> 
<html> 
<head>
</head> 
<body> 

<div data-role="page">
  
	<div data-role="header" data-theme="d" data-position="inline">
	  <h1>Sıralama</h1>

	</div>

	<div data-role="content" data-theme="c">
	  <h1>Sıralama sayfası ne işe yarar?</h1>
		<br>
	  <p>Burada kazandığınız puana göre sıralamanızı görebilirsiniz. Güncelle butonuna bastığınızda uygulama sunucudan sıralamanın son durumunu alacaktır. Eğer internet bağlantınız yoksa kayıtlı en güncel sıralama gösterilir. Her satırda sırasıyla, gülen adam, takma isim ve puan gösterilir.</p>
		<br>
	  <a href="docs-dialogs.html" data-role="button" data-rel="back" data-theme="b">Yardımı Kapat</a>
	  <a href="#oyver" data-role="button" data-rel="back" data-theme="a">Uygulama hakkında yorum yap</a>              
	</div>
  </div>


</body>
</html>
