<!DOCTYPE html> 
<html> 
<head>
</head> 
<body> 

<div data-role="page">
  
	<div data-role="header" data-theme="d" data-position="inline">
	  <h1>Ayarlar</h1>

	</div>

	<div data-role="content" data-theme="c">
	  <h1>Genel Bilgiler</h1><br/>
	  <p>Bu kısımda adımsayar hesabınızın ve uygulamanın ayarları bulunur. <b>Cinsiyet, yaş, boy, kilo </b> bilgilerinizi girerek yürüyüşle harcadığınız kalorileri, vücut kitle indeksinizi, bazal metabolizmanızın hesaplanmasını sağlayabilirsiniz.</p><br/>

	  <p>Adımsayar hesabınız <b>e-posta</b> adresinize bağlıdır, bu nedenle değiştirilemez. Mutlaka değiştirmeniz gerekirse, iletişim formu üzerinden bu isteğinizi bildirin.</p><br/>

	  <p><b>Yaşam biçimi</b>, bazal metabolizmanızı hesaplamadan kullanan bir katsayıyı belirler. Meslekler örnek olarak verilmiştir. Bu katsayı, masabaşı işler yapan insanlar için 0.1 iken, hergün antrenman yapan sporcular için 0.9 dur. Kendinize en yakın bulduğunuzu işaretleyin.</p><br/>

	  <p>Uygulamanın iki <b>çalışma modu</b> vardır. <b>Manuel kullanım</b>da cihaz sadece siz çalıştırdığınızda ve uygulama ekranda iken adımsayma işlemi yapar. uygulamadan çıktığınızda yada telefonu uyuttuğunuzda saymaz. <br/><br/><b>Herzaman açık</b>, modda gün boyunca sürekli olarak adımsayar, bu mod bataryanızın daha çabuk tükenmesine neden olabilir. bu yüzden akıllı bir algoritmaya sahip olan otomatik mod geliştirilmiştir.<br/><br/><b>Otomatik mod</b>da (önerilen), uygulama siz yürüyüşe başladığınızda kendini otomatik olarak açar, yürüyüşü bıraktığınızda saymayı bırakır. hem bataryadan tasarruf eder, hemde gün boyunca kullanabilirsiniz.</p><br/>
	  <p><b>Hassasiyet:</b> Telefonlarda bulunan hareket sensörü her telefon için farklı özellik gösterir. Adımsayar yaygın telefonlar için otomatik olarak bunu ayarlar. Eğer 100 adım yürümenize rağmen telefonunuzun 90 yada 110 adım saydığını düşünüyorsanız, bu değeri artırıp azaltarak doğru saymasını sağlayabilirsiniz. Bu ayar işlemi genellikle yeni piyasaya çıkmış telefonlar için gerekir. Yaygın bir telefon kullanıyorsanız, muhtemelen bunu ayarlamanıza gerek yoktur.</p><br/>
	  <p>Uygulamadan çıkış, uygulamadan tamamen çıkmanızı sağlar. Sunucu üzerindeki bilgilerinizi silmek ve hesabı kapatmak için web sayfamızda ve e-posta'larda link'ler mevcuttur.</p><br/>
	  <p>Yaşadığınız problemleri, iletişim formu üzerinden bildirebilirsiniz.</p><br/>
	  <p><a href="http://www.adimsayar.com">www.adimsayar.com</a> Her hakkı saklıdır. 2010</p><br/>
	  <a href="settings.html" data-role="button" data-rel="back" data-theme="b">Tamam</a>       
	</div>
  </div>


</body>
</html>
