<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
  <title>My Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="{{subdomain}}/site_media/jqmobile/jquery-1.7.1.min.js"></script>
	<script src="{{subdomain}}/site_media/mobindex/js/jquery.localize.js" type="text/javascript"></script>
	<script src="{{subdomain}}/site_media/mobindex/js/main.js" type="text/javascript"></script>
	<link rel="stylesheet" href="{{subdomain}}/site_media/jqmobile/jquery.mobile-1.1.1.min.css" />
	<script src="{{subdomain}}/site_media/jqmobile/jquery.mobile-1.1.1.min.js"></script>
	<link href="{{subdomain}}/site_media/mobindex/css/style.css" rel="stylesheet" />
	<script src="{{subdomain}}/site_media/mobindex/js/sim.js" type="text/javascript"></script>
</head>
<body>
<div data-role="page" id="welcome6-page">
    <div data-role="content">
<h2>Teşekkürler!</h2>
<br />
<p>
Geribildirimlerinizi paylaşmak için <a href="http://www.adimsayar.com/contact/?utm_source=application&utm_medium=link&utm_campaign=wizard" target="_blank">iletişim formunu</a> kullanabilirsiniz.
</p>
<br />
<p>
<a href="#" data-icon="info" data-role="button" data-theme="a" style="float:left;">Yardım</a><span>&nbsp; butonunu kullanarak yardım menüsüne ulaşabilirsiniz.</span>
    </div><!-- /content -->
    <div data-role="footer" data-id="footer-0" data-position="fixed">
        <div data-role="navbar">
        <ul>
				<li><a href="welcome5.html" data-icon="arrow-l" data-iconpos="left"><span style="font-size:18px;">Geri</span></a></li>
				<li><a href="index.html" data-icon="star" data-iconpos="right" onclick="wizardCompleted();"><span style="font-size:18px;">Bitti</span></a></li>
        </ul>
    </div><!-- /navbar -->
    </div><!-- /footer -->
</div><!-- /page -->
</body>
</html>
