<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
  <title>My Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="{{subdomain}}/site_media/jqmobile/jquery-1.7.1.min.js"></script>
	<script src="{{subdomain}}/site_media/mobindex/js/jquery.localize.js" type="text/javascript"></script>
	<script src="{{subdomain}}/site_media/mobindex/js/main.js" type="text/javascript"></script>
	<link rel="stylesheet" href="{{subdomain}}/site_media/jqmobile/jquery.mobile-1.1.1.min.css" />
	<script src="{{subdomain}}/site_media/jqmobile/jquery.mobile-1.1.1.min.js"></script>
	<link href="{{subdomain}}/site_media/mobindex/css/style.css" rel="stylesheet" />
	<script src="{{subdomain}}/site_media/mobindex/js/sim.js" type="text/javascript"></script>
</head>
<body>
<div data-role="page" id="welcome2-page">
    <div data-role="content">
<h2>Hoşgeldiniz!</h2>
<br/>
<p>
Adımsayar gün içindeki hareketliliğinizi ölçmeye yarayan bir mobil uygulamadır.
Bunun yanı sıra diyet ve beslenme ipuçları sağlar.
</p>
<br/>
<p>
<div style="float:left;">
<img src={{subdomain}}/site_media/mobindex/images/smile-animated.gif />
</div>
<!-- Yapılan araştırmalarda adımsayar ve benzeri cihazları kullananların günlük hareketliliğinde %20 artış gözlemlenmiştir. -->
<br/>
Gün içerisinde egzersizleriniz (yürüyüş, koşu) arttıkça smiley gülmeye baslar. Her gün saat 24:00'de smiley ilk haline döner. 
</p>
<br/>
<br/>
<br/>
<br/>

<p>
Aşağıdaki ekran görüntüsündeki gibi istediğiniz zaman www.adimsayar.com üzerinden güncel sıralamanızı ve puanınızı takip edebilirsiniz.
Her hafta başında önceki haftaya ait bir haftalık rapor gönderilir.
</p>
<br/>

<img src={{subdomain}}/site_media/mobindex/images/welcome2.png align="center"/>

<br/>
    </div><!-- /content -->
    <div data-role="footer" data-id="footer-0" data-position="fixed">
        <div data-role="navbar">
        <ul>
				<li><a href="#" data-icon="arrow-l" data-iconpos="left" class="ui-disabled"><span style="font-size:18px;">Geri</span></a></li>
				<li><a href="welcome3.html" data-icon="arrow-r" data-iconpos="right"><span style="font-size:18px;">İleri</span></a></li>
        </ul>
    </div><!-- /navbar -->
    </div><!-- /footer -->
</div><!-- /page -->
</body>
</html>
